 @media screen and (max-width: 991px) {
        #sort-block {
          width: 38%;
        }
        #search-block {
          width: 62%;
          float: right;
        }
        #sort-block .btn:nth-child(3) {
          margin-top: 7px;
          width: 80%;
        }
      }

      @media screen and (max-width: 767px) {
        #sort-block {
          width: 100%;
          text-align: center;
        }
        #search-block {
          width: 100%;
          margin-top: 3%;
        }
        #search-block button {
          width: 100%;
          margin-bottom: 2%;
        }
        .form-inline .form-group {
          margin-top: 1%;
        }
        #sort-block .btn:nth-child(3) {
          width: 120px;
          margin-top: 0;
        }
      }

      .col-sm-6.center-block.c-float{
        float: none!important;
      }
      .h2-style{
        margin-top: 20px;
      }


    @media screen and (max-width: 767px) {
          #action-buttons {
            text-align: center;
          }
        }